
        body {
            background-color: #F7FAFC;
            font-family: 'Source Sans Pro', sans-serif;
            line-height: 1.5;
        }

        @media screen and (max-width: 600px) {
            .contentTitle, .content {
                margin: 1rem auto;
            }
        
            .contentTitle h2 {
                font-size: 2rem;
            }
        
            .product-card {
                flex: 1 0 100%;
            }
        
            .content {
                grid-template-columns: 1fr;
            }
        }
        

        .navbar {
            display: flex;
            justify-content: space-between;
            padding: 1.0rem;
            background-color: #1e2165;
            margin-bottom: 50px;
            position: sticky;
            top: 0;
            z-index: 1000;
        }

        .navbar div {
            display: flex;
            align-items: center;
        }

        .navbar a {
            margin-left: 1rem;
            color: white;
            text-decoration: none;
        }

        .keywords-heading {
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            color: #2D3748;
        }

        .contentTitle {
            max-width: 60rem;
            margin: 2rem auto;
            text-align: center;
        }

        .contentTitle h2 {
            font-size: 3rem;
            font-weight: bold;
            color: #2D3748;
            line-height: 1.5;
        }
        .product-grid {
            max-width: 60rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin: auto;
          }
          
          .product-card {
            flex: 1 0 25%;
            max-width: 200px;
            margin: auto 20px;
            text-align: center;
          }

          .product-card img {
            max-width: 200px;
            max-height: 80px;
            width: auto;
            height: auto;
            margin: 5px 20px; /* 居中对齐 */
            display: block; /* 使元素成为块级元素 */
          }

        .content {
            max-width: 60rem;
            margin: 2rem auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            width: 100%;
        }

        .content div {
            padding: 1rem;
        }

        .content h2 {
            font-size: 2rem;
            color: #2D3748;
            line-height: 1.1;
        }

        .content p {
            color: #4A5568;
        }

        .recommend h3 {
            font-size: 1.5rem;
            color: #4A5568;
            margin: 20px 0;
            text-align: center;
        }

        .trial {
            max-width: 60rem;
            margin: 2rem auto;
            padding: 1rem;
        }

        .trial h2 {
            font-size: 2rem;
            color: #2D3748;
        }

        .trial p {
            color: #4A5568;
        }

        .footer {
            text-align: center;
            padding: 1rem;
            background-color: #1e2165;
            color: white;
        }
    